/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    line-height: 1.6;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  /* Header Styles */
  header {
    background: #000000;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
  }

/* Content Section */
.content {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

/* Headings */
h2, h3 {
    font-family: "Segoe UI", sans-serif;
    color: #333;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #00adba;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    h2, h3 {
        text-align: center;
    }
}
