.welcome-banner {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}

.information-resources, .footer {
  padding: 20px;
  text-align: center;
}

.contact-info, .legal-info, .social-media-links {
  margin-bottom: 10px;
}

.footer {
  background-color: #e0e0e0;
}

.social-media-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-size: 24px;
}

.legal-info a {
  margin: 0 10px;
  text-decoration: none;
  color: #007BFF;
}

* {
  box-sizing: border-box;
}

.map-container {
  width: 100%; /* Use the full width of the parent element */
  max-width: 1320px; /* Maximum width allowed */
  height: 600px; /* Fixed height as you've set, or consider using 'auto' for variable height */
  overflow: hidden; /* Change to 'hidden' to prevent any scrolling */
  border: 6px solid #ccc; /* Border around the map */
  position: relative;
  z-index: 1;
  margin: 0 auto; /* Center the container horizontally */
  background: radial-gradient(circle, #14727e, #136b77, #126570, #105f69, #0f5862, #0e525b);
}

.world-map {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  padding: 0; /* Remove padding to allow image to use all the space */
  position: relative;
  z-index: 2;
}

.world-map img {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  object-fit: contain; /* Contain the image within the container without stretching */
}

.pin {
  position: absolute;
  z-index: 3;
  width: 15px; /* Fixed width */
  height: 20px; /* Fixed height */ 
  border-radius: 50%; 
  cursor: pointer;
  background: url('/img/pins.png') no-repeat center center; /* Use the pin image */
  background-size: 100% 100%; /* Resize the image to fit the pin's dimensions */
}

.pin span {
  display: none; /* Hide text by default */
  white-space: nowrap;
  position: absolute;
  width: auto; /* Let the width grow with the content */
  bottom: 50%; /* Position text above the pin, adjust as necessary */
  left: 50%;
  transform: translate(-50%, -10px); /* Center the text horizontally and adjust vertical position */
  color: white; /* Text color */
  text-align: center; /* Ensure text is centered if it wraps */
  padding: 2px 5px; /* Optional: Adds some padding around the text */
  background: rgba(0, 0, 0, 0.2); /* Optional: Adds a semi-transparent background for better readability */
  border-radius: 5px; /* Optional: Adds rounded corners to the background */
}

.pin:hover span {
  display: block; /* Show text on hover */
}

/* Adjust these percentages based on the pin's position on the map */
.northa { top: 23%; left: 21%; }
.southa { top: 53%; left: 30%; }
.europe { top: 17%; left: 53%; }
.africa { top: 42%; left: 52%; }
.asia { top: 22%; left: 68%; }
.oceania { top: 63%; left: 83%; }

@media screen and (max-width: 1300px) {
  .map-container {
    height: auto; /* Make the height responsive */
  }

  .world-map img {
    object-fit: cover; /* Cover the container fully on smaller screens */
  }
}
