doctype html
html
  head
    link(rel="stylesheet", href="/style.css")
    title World Populations Hub
    // Include additional head content from block
    block head
  body
    .layout
      .layout-nav
        // Include navigation mixin
        include mixins/nav
        +navigation(activePage)

      .layout-content
        // Content from the child template will be injected here
        block content

      // Add your JavaScript file here at the end of body
      script(src="/static/js/map-pins.js")

