html
  head
    link(rel="stylesheet", href="/style.css")
    title World Populations Hub
    block head
  body
    .layout
      .layout-nav
        include mixins/nav
        // Assuming 'activePage' is passed to every template render call
        +navigation(activePage)

      .layout-content
        block content
